[Unit]
Description=Hive MetaStore Server
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
User=hduser
Group=hadoop
Type=forking
ExecStart=/usr/local/hive/bin/start-hive-metastore.sh
ExecStop=/usr/local/hive/bin/stop-hive-metastore.sh
WorkingDirectory=/usr/local/hive
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
Environment=HADOOP_HOME=/usr/local/hadoop
Environment=HIVE_AUX_JARS_PATH=/usr/local/hive/hcatalog/share/hcatalog
TimeoutStartSec=2min

[Install]
WantedBy=multi-user.target
