[Unit]
Description=HBase Thrift Server
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target
After=hdfs.service yarn.service jobhistory.service hbase.service

[Service]
User=hduser
Group=hadoop
Type=forking
ExecStart=/usr/local/hbase/bin/hbase-daemon.sh start thrift
ExecStop=/usr/local/hbase/bin/hbase-daemon.sh stop thrift
WorkingDirectory=/usr/local/hbase
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
Environment=HADOOP_HOME=/usr/local/hadoop
Environment=HADOOP_CONF_DIR=/usr/local/hadoop/etc/hadoop
TimeoutStartSec=2min
PIDFile=/tmp/hbase-hduser-thrift.pid

[Install]
WantedBy=multi-user.target
